<ion-header>
  <ion-toolbar>
    <ion-title>Data</ion-title>

    <ion-buttons (click)="addNewPerson()" slot="end">
      <ion-button><ion-icon name="add"></ion-icon> &nbsp;Add New Person</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <!-- <ion-button>Add New Person</ion-button> -->
  <div style="width: 80%;margin-left: 10%;margin-right: 10%;margin-top: 10%;" class="table-responsive">
    
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
              <th># </th>
              <th>Name</th>
              <th>DoB</th>
              <th>Skills</th>
              <th>Contact</th>
              <th>Actions</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of persons_data">
          <td>{{person.id}}</td>
          <td>{{person.name}}</td>
          <td>{{person.dob}}</td>
          <td>{{person.skills}}</td>
          <td>{{person.contact}}</td>
          <td style="color: gray;"> <span (click)="showEditModal(person.id)" style="color: limegreen;"><ion-icon name="create"></ion-icon> Modify </span>  &nbsp; <span (click)="delete(person.id)" style="color: orangered;"><ion-icon name="trash"></ion-icon> Delete</span>  </td>
      </tr>
      </tbody>
        
    </table>
</div>

      
    
</ion-content>


